* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayishblue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
  font-family: 'Kumbh Sans';
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: white;
  position: relative;
  border-radius: 22px;
}

.woman-illustration {
  position: absolute;
  top: -90px;
  width: 198px;
  height: 150px;
  background-image: url(./images/illustration-woman-online-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.shadow {
  position: absolute;
  top: -34px;
  width: 198px;
  height: 150px;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-size: 198px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.faq {
  width: 268px;
  height: auto;
  margin: 150px 28px 28px 28px;
}

.faq h1 {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 28px;
}

.question {
  position: relative;
  border-bottom: .05rem solid var(--dark-grayish-blue);
  margin-bottom: 18px;
}

.question h2 {
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 18px;
}

.question .bold-font {
  font-weight: bold;
  color: var(--very-dark-blue);
}

.question .arrow {
  position: absolute;
  top: 6px;
  right: 0px;
  display: inline-block;
  width: 10px;
  height: 7px;
  background-image: url(./images/icon-arrow-down.svg);
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

.answer {
  display: none;
  margin-bottom: 18px;
}

.answer p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}